<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin-events-styles.css">
    <title>Admin | Events</title>
</head>

<body>

    <div class=" topnav">
        <a href="https://www.instagram.com/mittechtatva/">TechTatva20</a>
        <a href="/admin/users">Users</a>
        <input type="text" placeholder="Search..">
        <a href="">Logout</a>
        <a href="../admin-events-add/admin-events-add.html">Add Event</a>
    </div>

    <div style="padding-left:16px">
        <h2>All Events</h2>
        <p>Welcome Admin! These are all the fest events!</p>


        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Category Name</th>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Venue</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                    <td>94</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                    <td>67</td>
                    <td>50</td>
                    <th><button class="button"
                            onclick="alert('Are you sure you want to delete this event?')">Delete</button></th>
                </tr>
            </table>
        </div>

    </div>


</body>

</html>