<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" href="assets/tt.png">
    <link rel="stylesheet" href="styles/login-signup.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 text-center mb-5">
                    <img src="assets/tt.png" style="border-radius: 10%;">
                </div>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <!-- form card register -->
                        <div class="card rounded-0" id="register-form">
                            <div class="card-header">
                                <h3 class="mb-0">Sign Up</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" id="formLogin">

                                    <div class="form-group">
                                        <label for="uname1">Name: </label>
                                        <input name="name" type="text" class="form-control form-control-lg rounded-0"
                                            id="name1" required>
                                        <div class="name error"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>E-mail:</label>
                                        <input name="email" type="email" class="form-control form-control-lg rounded-0"
                                            id="" required>
                                        <div class="email error"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password: </label>

                                        <input name="pass" type="password"
                                            class="form-control form-control-lg rounded-0" id="pwd1"
                                            placeholder='Min 6 characters' required>
                                        <div class="pass error"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Retype Password: </label>
                                        <input name="pass2" type="password"
                                            class="form-control form-control-lg rounded-0" id="pwd2" required>
                                        <div class="pass2 error" onchange="validatePassword()"></div>
                                    </div>
                                    <div>
                                        <label class="custom-control custom-checkbox">
                                            Have an account? <a href="/login" class="login-form-link">Login.</a>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg float-right"
                                        id="btnLogin">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const form = document.querySelector('form');
        const nameError = document.querySelector('.name.error')
        const emailError = document.querySelector('.email.error');
        const passError = document.querySelector('.pass.error');
        const pass2Error = document.querySelector('.pass2.error')

        const password = document.getElementById("pwd1");
        const confirm_password = document.getElementById("pwd2");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                pass2Error.textContent = "Passwords dont match";
            }
        }
        password.onchange = validatePassword;
        password.onkeyup = validatePassword;
        confirm_password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;


        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // reset errors if already existing
            nameError.textContent = '';
            emailError.textContent = '';
            passError.textContent = '';
            pass2Error.textContent = '';

            // get values
            const name = form.name.value;
            const email = form.email.value;
            const pass = form.pass.value;
            const pass2 = form.pass2.value;

            try {
                const res = await fetch('/signup', {
                    method: 'POST',
                    body: JSON.stringify({ name, email, pass }),
                    headers: { 'Content-Type': 'application/json' }
                });

                const data = await res.json()
                console.log(data);

                if (data.errors) {
                    console.log(data.errors);
                    nameError.textContent = data.errors.name;
                    emailError.textContent = data.errors.email;
                    passError.textContent = data.errors.pass;
                }
                if (data.user && password.value == confirm_password.value) {
                    location.assign('/');
                }
                else {
                    //pass2Error.textContent = "Passwords dont match";
                }
            }
            catch (err) {
                console.log(err);
            }
        });
    </script>
</body>

</html>